{% extends 'base.html' %}

{% block title %}
    <title>Route Search</title>
{% endblock %}

{% block content %}
    <h1 class="display-4 fw-normal text-center">Route Search</h1>
    <br />
    <div class="row">
        {% if routes %}
            <div class="col-md-8 mx-auto">
                <h3>
                    {% if routes|length == 1 %} Route {% else %} Routes {% endif %}
                    from {{cities.from_city}} to {{cities.to_city}}
                </h3>
                <br />
                {% if routes|length > 1 %}
                    <hr>
                {% endif %}
                {% for route in routes %}
                    <form action="{% url 'add_route' %}" method="get">
                        <input type="hidden" name="from_city" value="{{ route.from_city }}">
                        <input type="hidden" name="to_city" value="{{ route.to_city }}">
                        <input type="hidden" name="travel_time" value="{{ route.total_time }}">
                        <input type="hidden" name="across_cities"
                               value="{% for train in route.route %} {{train.id}} {% endfor %}"
                        >

                    {% if forloop.first %}
                        {% if routes|length > 1 %}
                            <h5><b>Shortest route</b></h5>
                        {% endif %}
                    {% endif %}
                     <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Train list</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for train in route.route %}
                            <tr>
                                <td>Train № <b>{{ train.number }}</b> , going from {{ train.from_city }},
                                    to {{ train.to_city }}. Route time is {{ train.travel_time }} hours
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                     </table>
                    <p>Total route time is {{ route.total_time }} hours</p>
                    <br />
                        <button type="submit" class="btn btn-success">Save route</button>
                    </form>
                    <br /><br />
                {% endfor %}
            </div>
        {% endif %}
       <div class="container col-md-8">
           <form action="{% url 'find_routes' %}" method="post">
               <h4>Search form</h4>
                {% csrf_token %}
                {{form.as_p}} <!-- make form as a paragraph "<p>" -->
                <br>
                <input type="submit" value="Find">
            </form>
        </div>
    </div>
{% endblock %}
