{% extends 'base.html' %}

{% block title %}
    <title>Route Creation</title>
{% endblock %}

{% block content %}
    <h1 class="display-4 fw-normal">Create new route</h1>
    <div class="row mx-auto">
        <div class="col-md-8">
            <form action="" method="post">
                {% csrf_token %}
                {{form.as_p}}
                <p>Route from {{ from_city }} to {{ to_city }} lasting {{ travel_time }} hours</p>
                <br />
                <p>Route trains:</p>
                {% for d in description %}
                    <p>{{ d }}</p>
                {% endfor %}
                <br>
                <input type="submit" value="Save">
            </form>
        </div>
    </div>
{% endblock %}