{% extends 'base.html' %}

{% block title %}
    <title>Route</title>
{% endblock %}

{% block content %}
    <h1 class="display-4">Route info</h1>
    {% if user.is_authenticated %}
        <div class="row">
            <div class="col-md-6">
                <a href="{% url 'route_delete' object.pk %}" class="btn btn-danger btn-sm">
                    Delete route
                </a>
            </div>
        </div>
    {% endif git p%}
    <div class="row">
        <div class="col-md-8 my-3">
            <table class="table table-striped my-3">
                <thead>
                    <tr>
                        <th class="text-center">Route name</th>
                        <th class="text-center">From</th>
                        <th class="text-center">To</th>
                        <th class="text-center">Travel time</th>
                        <th class="text-center">Route trains list</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">
                            {{ object.name }}
                        </td>
                        <td class="text-center">
                            {{ object.from_city }}
                        </td>
                        <td class="text-center">
                            {{ object.to_city }}
                        </td>
                        <td class="text-center">
                            {{ object.travel_time }}
                        </td>
                        <td>
                            {% for tr in object.across_cities.all %}
                                {{ tr }}<br />
                            {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
                <a href='{% url "route_list" %}' class="btn btn-light">
                    Back to route list
                </a>
        </div>
    </div>
{% endblock %}