{% extends 'base.html' %}

{% block title %}
    <title>Routes</title>
{% endblock %}

{% block content %}
    {% if objects_list %}
        <h1 class="display-4 fw-normal text-center">Routes</h1>
<!--    <div class="row">-->
<!--`       <div class="container col-md-8">-->
<!--            <a href="{% url 'train:train_create' %}" class="btn btn-success">-->
<!--                    Add new train-->
<!--            </a>-->
<!--        </div>-->
<!--    </div>-->
        <br />
        <div class="row">
            <div class="col-md-6 mx-auto">
                <a href="{% url 'home' %}" class="btn btn-success btn-sm">
            Find route
        </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mx-auto my-4">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">Route name</th>
                            <th class="text-center">From</th>
                            <th class="text-center">To</th>
                            <th class="text-center">Travel time (hours)</th>
                            {% if user.is_authenticated %}
                                <th> </th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for object in objects_list %}
                            <tr>
                                <td class="text-center">
                                    <a href="{% url 'route_detail' object.pk %}">
                                        {{object.name}}
                                    </a>
                                </td>
                                <td class="text-center">
                                    {{object.from_city}}
                                </td>
                                <td class="text-center">
                                    {{object.to_city}}
                                </td>
                                <td class="text-center">
                                    {{object.travel_time}}
                                </td>
                                {% if user.is_authenticated %}
                                    <td>
                                       <a href="{% url 'route_delete' object.pk %}" class="btn btn-danger btn-sm">
                                            Delete route
                                        </a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <h3 class="display-4 fw-normal text-center">No added routes.</h3>
    {% endif %}
{% endblock %}