{% extends 'base.html' %}

{% block title %}
    <title>Trains</title>
{% endblock %}

{% block content %}
    {% if objects_list %}
        <h1 class="display-4 fw-normal text-center">Trains</h1>
        {% if user.is_authenticated %}
        <div class="row">
           <div class="container col-md-8">
                <a href="{% url 'train:train_create' %}" class="btn btn-success">
                        Add new train
                </a>
            </div>
        </div>
        {% endif %}
        <br />
        <div class="row">
            <div class="col-md-8 mx-auto">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">Train number</th>
                            <th class="text-center">From</th>
                            <th class="text-center">To</th>
                            <th class="text-center">Travel time</th>
                            {% if user.is_authenticated %}
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for object in objects_list %}
                            <tr>
                                <td class="text-center">
                                    <a href="{% url 'train:train_detail' object.pk %}">
                                        {{object.number}}
                                    </a>
                                </td>
                                <td class="text-center">
                                    {{object.from_city}}
                                </td>
                                <td class="text-center">
                                    {{object.to_city}}
                                </td>
                                <td class="text-center">
                                    {{object.travel_time}}
                                </td>
                                {% if user.is_authenticated %}
                                    <td class="text-center">
                                        <a href="{% url 'train:train_update' object.pk %}">
                                            <button type="button" class="btn btn-primary btn-sm">
                                                Update train
                                            </button>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{% url 'train:train_delete' object.pk %}" class="btn btn-danger btn-sm">
                                            Delete train
                                        </a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% include 'pagination.html' %}
    {% else %}
        <h3 class="display-4 fw-normal text-center">No added trains.</h3>
    {% endif %}
{% endblock %}
