{% extends 'base.html' %}

{% block title %}
    <title>Train Creation</title>
{% endblock %}

{% block content %}
    <h1 class="display-4 fw-normal">Create new train</h1>
    <div class="row mx-auto">
        <div class="col-md-4">
            <form action="" method="post">
                {% csrf_token %}
                {{form.as_p}} <!-- make form as a paragraph "<p>" -->
                <br>
                <input type="submit" value="Save">
            </form>
        </div>
    </div>
{% endblock %}