{% extends 'base.html' %}

{% block title %}
    <title>Train</title>
{% endblock %}

{% block content %}
    <h1 class="display-4">Train info</h1>
    {% if user.is_authenticated %}
        <div class="row">
            <div class="col-md-6">
                <a href="{% url 'train:train_update' object.pk %}" class="btn btn-primary btn-sm">
                    Update train
                </a>

                <a href="{% url 'train:train_delete' object.pk %}" class="btn btn-danger btn-sm">
                    Delete train
                </a>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-6 my-3">
            <table class="table table-striped my-3">
                <thead>
                    <tr>
                        <th>Train number</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Travel time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {{ object.number }}
                        </td>
                        <td>
                            {{ object.from_city }}
                        </td>
                        <td>
                            {{ object.to_city }}
                        </td>
                        <td>
                            {{ object.travel_time }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
                <a href='{% url "train:home" %}' class="btn btn-light">
                    Back to trains list
                </a>
        </div>
    </div>
{% endblock %}