{% extends 'base.html' %}

{% block title %}
    <title>City</title>
{% endblock %}

{% block content %}
    <h1 class="display-4">City</h1>
    {% if user.is_authenticated %}
        <div class="row">
            <div class="col-md-6">
                <a href="{% url 'city:city_update' object.pk %}" class="btn btn-primary btn-sm">
                    Update city
                </a>

                <a href="{% url 'city:city_delete' object.pk %}" class="btn btn-danger btn-sm">
                    Delete city
                </a>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-3">
            <table class="table my-3">
                <tbody>
                    <tr>
                        <td>City name</td>
                        <td>{{object.name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
                <a href='{% url "city:home" %}' class="btn btn-light">
                        Back to cities list
                </a>
        </div>
    </div>
{% endblock %}