{% extends 'base.html' %}

{% block title %}
    <title>Cities</title>
{% endblock %}

{% block content %}
    {% if objects_list %}
        <h1 class="display-4 fw-normal text-center">Cities</h1>
        <div class="row">
           {% if user.is_authenticated %}
                <div class="container col-md-8">
                    <a href="{% url 'city:city_create' %}" class="btn btn-success">
                        Add new city
                    </a>
            {% else %}
                <div class="container col-md-3">
            {% endif %}
                </div>
        </div>
        <br />
        <div class="row">
            {% if user.is_authenticated %}
                <div class="col-md-8 mx-auto">
            {% else %}
                <div class="col-md-3 mx-auto">
            {% endif %}
                <table class="table table-striped">
                    <tbody>
                        {% for object in objects_list %}
                            <tr>
                                <td>
                                    <a href="{% url 'city:city_detail' object.pk %}">
                                            {{object.name}}
                                    </a>
                                </td>
                                {% if user.is_authenticated %}
                                    <td>
                                        <a href="{% url 'city:city_update' object.pk %}" class="btn btn-primary btn-sm">
                                                Update city
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{% url 'city:city_delete' object.pk %}" class="btn btn-danger btn-sm">
                                            Delete city
                                        </a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% include 'pagination.html' %}
    {% else %}
        <h3 class="display-4 fw-normal text-center">No added cities.</h3>
    {% endif %}
{% endblock %}
