{% extends 'base.html' %}

{% block title %}
    <title>Error 404</title>
{% endblock %}

{% block content %}
    <h1 class="display-4 fw-normal">Page not found</h1>
    <div class="row mx-auto">
        <div class="col-md-4">

        </div>
    </div>
{% endblock %}