{% url 'city:home' as city_home_url %}
{% url 'train:home' as train_home_url %}
{% url 'city:city_create' as city_create_url %}
{% url 'train:train_create' as train_create_url %}
{% url 'route_list' as route_list_url %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

  </head>
  <body>
  <div class='container'>
    {% block title %} {% endblock %}
</div>

      <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom shadow-sm p-3 mb-5">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">Travel</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item {% if request.path == city_home_url %} active {% endif %}">
                    <a class="nav-link" aria-current="page" href="{% url 'city:home' %}">Cities</a>
                </li>
                <li class="nav-item {% if request.path == train_home_url %} active {% endif %}">
                    <a class="nav-link" aria-current="page" href="{% url 'train:home' %}">Trains</a>
                </li>
                <li class="nav-item {% if request.path == route_list_url %} active {% endif %}">
                    <a class="nav-link" aria-current="page" href="{% url 'route_list' %}">Routes</a>
                </li>
                {% if user.is_authenticated %}
                    <li>
                        <li class="dropdown {% if request.path == train_create_url or request.path == city_create_url %} active {% endif %}">
                          <button class="btn btn-link nav-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Add
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{% url 'city:city_create' %}">New city</a>
                            <a class="dropdown-item" href="{% url 'train:train_create' %}">New train</a>
                          </div>
                        </li>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">
                            Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">
                            Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">
                            Register</a>
                    </li>
                {% endif %}
            </ul>
            </div>
        </div>
      </nav>
      </div>
      <div class="container my-4">
          <div class="row">
              <div class="col-md-8 mx-auto">
                  {% if messages %}
                  {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger messages">
                        <span {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                            Attention! {{ message }}<br />
                        </span>
                    </div>
                  {% else %}
                      <div class="alert alert-success messages">
                          <span {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                              {{ message }}<br />
                          </span>
                      </div>
                  {% endif %}
                  {% endfor %}
                  {% endif %}
              </div>
          </div>
      </div>

      <div class='container'>
        {% block content %} {% endblock %}

      </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script>
        $(document).ready(function() {
            $('.js-example-basic-single').select2();
            $('.js-example-basic-multiple').select2();
        });
    </script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    -->
  </body>
</html>