{% if objects_list.paginator.num_pages > 1 %}
    <nav class="col" aria-label="Page navigation">
        <div class="row">
            <div class="container col-md-8 my-4">
                <ul class="pagination">
                    <!-- << PREVIOUS PART -->
                    <!-- << Disable 'Previous' page button if you are at the 1st page -->
                    {% if not objects_list.has_previous %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-label="Previous">
                    <!-- << If you are at the 2nd page,
                    'Previous' page button will get 'current_path' url instead of '/current_path/?page=1' -->
                    {% elif objects_list.previous_page_number == 1 %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ request.path }}"
                                      aria-label="Previous">
                    {% else %}
                        <li class="page-item">
                            <a class="page-link"
                              href="?page={{ objects_list.previous_page_number }}"
                                    aria-label="Previous">
                    {% endif %}
                              <span aria-hidden="true">&laquo;</span>
                              <span class="sr-only">Previous</span>
                            </a>
                        </li>
                    <!-- PAGES PART -->
                    {% for num in objects_list.paginator.page_range %}
                        <!-- Active page -->
                        {% if num == objects_list.number %}
                            <li class="page-item active">
                                <a class="page-link" href="#">{{ num }}<span class="sr-only">(current)</span></a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <!-- For the 1st page we do not use ?page=1 -->
                                {% if num == 1 %}
                                    <a class="page-link" href="?page={{ request.path }}">{{ num }}</a>
                                {% else %}
                                    <!-- Show current page and +-3 pages -->
                                    {% if num|add:"-3" <= objects_list.number and objects_list.number <= num|add:"3" %}
                                        <a class="page-link"
                                           href="?page={{ num }}">
                                            {{ num }}
                                        </a>
                                    <!-- Shows every 10th page and the last page -->
                                    {% elif num|divisibleby:"10" or num == objects_list.paginator.num_pages %}
                                        <a class="page-link"
                                           href="?page={{ num }}">
                                            {{ num }}
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
                    <!-- >> NEXT PART -->
                    {% if not objects_list.has_next %}
                        <!-- << Disable 'Next' page button if you are at the last page -->
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-label="Next">
                    {% else %}
                        <li class="page-item">
                            <a class="page-link"
                               href="?page={{ objects_list.next_page_number }}"
                                      aria-label="Next">
                    {% endif %}
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                            </a>
                        </li>
                </ul>
            </div>
        </div>
    </nav>
{% endif %}
