{% extends 'base.html' %}

{% block title %}
    <title>Registration done</title>
{% endblock %}

{% block content %}
    <h1 class="display-4 fw-normal">Welcome, {{ new_user.username }}</h1>
    <p>You register successfully. Now you can <a href="{% url 'login' %}">enter the website.</a></p>
        <div class="row mx-auto">
        <div class="col-md-4">
        </div>
    </div>
{% endblock %}